---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Comunidad from '../components/Comunidad.astro';
import Recursos from '../components/Recursos.astro';
import Contacto from '../components/Contacto.astro'
import Newsletter from '../components/Newsletter.astro'
---

<Layout title="Gonzz Linktree 🔗| Todos mis enlaces de interés, redes sociales y más.">
	<main>
		<SectionContainer>
			<div class="flex items-center justify-start gap-4 sm:gap-8 mt-36 sm:mt-40">
				<img 
				class="rounded-full w-28 h-28 mb-4 ml-4 border-[4px] border-[#6c3f99] hover:animate-tada"
				src="/logo-4.png" 
				alt="GitHub Profile Picture" 
				/>
				<div>
					<h1 class="text-white text-3xl font-semibold">José Gutiérrez</h1>
					<a href="https://gonzz.dev" target="_blank" rel="noopener" class="text-[#6c3f99] text-lg font-medium">@gonzz.dev</a>
	
					<!-- Links -->
					<ul class="flex gap-4 sm:gap-8 mt-3 mr-4 mb-6">
						<li>
							<a href="https://github.com/gonzzdev" target="_blank" rel="noopener">
								<img src="/github.svg" alt="GitHub Icon" class="size-8">
							</a>
						</li>
						<li>
							<a href="https://twitter.com/gonzz_dev" target="_blank" rel="noopener">
								<img src="/twitter.svg" alt="GitHub Icon" class="size-8">
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/gonzz.dev/" target="_blank" rel="noopener">
								<img src="/instagram.svg" alt="GitHub Icon" class="size-8">
							</a>
						</li>
						<li>
							<a href="#" target="_blank" rel="noopener">
								<img src="/tiktok.svg" alt="GitHub Icon" class="size-8">
							</a>
						</li>
						<li>
							<a href="https://www.behance.net/gonzz-art" target="_blank" rel="noopener">
								<img src="/behance.svg" alt="GitHub Icon" class="size-8">
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/gonzz-dev/" target="_blank" rel="noopener">
								<img src="/linkedin.svg" alt="GitHub Icon" class="size-8">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<p class="text-[#e8e4ea] text-sm sm:text-lg text-pretty font-normal mt-5 px-4">¡Hola! Soy <span class="text-[#ff9933]">Diseñador Web</span> y actualmente estudio <span class="text-[#ff9933]">Programación</span>. Estoy creando contenido informativo para la comunidad hispanohablante en redes sociales. Aquí podrás encontrar todos mis enlaces de interés. 👇🏽</p>
			<Contacto />
		</SectionContainer>
	
		<SectionContainer id="comunidad">
			<h2 class="text-[#e8e4ea] text-3xl font-semibold mt-10 ml-4">Comunidad</h2>
			<Comunidad />
		</SectionContainer>
	
		<SectionContainer id="recursos">
			<h2 class="text-[#e8e4ea] text-3xl font-semibold mt-10 ml-4">Recursos</h2>
			<Recursos />
		</SectionContainer>
	
		<SectionContainer id="newsletter">
			<h2 class="text-[#e8e4ea] text-3xl font-semibold mt-10 ml-4">Newsletter</h2>
			<Newsletter />
		</SectionContainer>
	</Layout>
	</main>	

	<a href="https://buymeacoffee.com/gonzzdev" target="_blank" rel="noopener" class="fixed p-9 bottom-6 right-6 hidden md:block hover:scale-110 transition duration-100 opacity-50 hover:opacity-100" >
		<img class="size-12" src="/cafe.svg" alt="Scroll to top">
	</a>
