<div class="px-4 animate-zoom-in">
    <a href="https://streambyte.mx" target="_blank" rel="noopener" class="flex items-center p-4 bg-[#e8e4ea]/10 border-[2px] border-[#ff9933] rounded-lg shadow mt-4 gap-6 hover:bg-[#6c3f99] hover:border-[#6c3f99] transition duration-100">
    
        <img src="/blog.svg" alt="Blog Icon" class="size-8 justify-center pl-2">
        <ul>
            <h5 class="text-lg font-semibold tracking-tight text-[#e8e4ea]">streambyte.mx</h5>
            <p class="text-sm font-normal text-[#e8e4ea]">Blog donde comparto mi progreso y recursos útiles para devs.</p>
        </ul>
    </a>
    
    <a href="https://discord.com/invite/4WfzyGyrpc" target="_blank" rel="noopener" class="flex items-center p-4 bg-[#e8e4ea]/10 rounded-lg shadow mt-4 gap-6 hover:bg-[#6c3f99] transition duration-100">
    
        <img src="/discord.svg" alt="Blog Icon" class="size-8 justify-center pl-2">
        <ul>
            <h5 class="text-lg font-semibold tracking-tight text-[#e8e4ea]">Discord</h5>
            <p class="text-sm font-normal text-[#e8e4ea]">Chat y grupo de estudio sobre programación de la comunidad.</p>
        </ul>
    </a>
    
    <a href="https://www.youtube.com/channel/UCUWgFhhL4YoEpylnXCrb_Cg" target="_blank" rel="noopener" class="flex items-center p-4 bg-[#e8e4ea]/10 rounded-lg shadow mt-4 gap-6 hover:bg-[#6c3f99] transition duration-100">
    
        <img src="/youtube.svg" alt="Blog Icon" class="size-8 justify-center pl-2">
        <ul>
            <h5 class="text-lg font-semibold tracking-tight text-[#e8e4ea]">YouTube</h5>
            <p class="text-sm font-normal text-[#e8e4ea]">Aprende a programar junto conmigo.</p>
        </ul>
    </a>
        
        
</div>
