
<div class="px-4 animate-zoom-in">
    <a href="#" target="_blank" rel="noopener" class="flex items-center p-4 bg-[#e8e4ea]/10 rounded-lg shadow mt-4 gap-6 hover:bg-[#6c3f99] transition duration-100">
    
        <img src="/notion.svg" alt="Blog Icon" class="size-8 justify-center pl-2">
        <ul>
            <h5 class="text-lg font-semibold tracking-tight text-[#e8e4ea]">Plantilla de Notion gratis</h5>
            <p class="text-sm font-normal text-[#e8e4ea]">Organiza tus tareas y proyectos de progamación.</p>
        </ul>
    </a>
    <a href="mailto:contact@gonzz.dev" target="_blank" rel="noopener" class="flex items-center p-4 bg-[#e8e4ea]/10 rounded-lg shadow mt-4 gap-6 hover:bg-[#6c3f99] transition duration-100">
    
        <img src="/mail.svg" alt="Email Icon" class="size-8 justify-center pl-2">
        <ul>
            <h5 class="text-lg font-semibold tracking-tight text-[#e8e4ea]">Manda mensaje</h5>
            <p id="emailAddress" class="text-sm font-normal text-[#e8e4ea]">contact@gonzz.dev</p>
        </ul>
    </a>
</div>
