<div class="px-4">
    <a href="#" class="flex items-center p-4 bg-[#e8e4ea]/10 rounded-lg shadow mt-4 gap-6 hover:bg-[#6c3f99] transition duration-100">
    
        <img src="/newsletter.svg" alt="Blog Icon" class="size-8 justify-center pl-2">
        <ul>
            <h5 class="text-lg font-semibold tracking-tight text-[#e8e4ea]">gonzz.news</h5>
            <p class="text-sm font-normal text-[#e8e4ea]">Sé el primero en enterarte de lo que pasa en la comunidad este 31 de Junio 2024.</p>
        </ul>
    </a>
</div>
