<div class="px-4">
    
    <!-- <a href="#" target="_blank" rel="noopener" class="flex items-center p-4 bg-[#e8e4ea]/10 rounded-lg shadow mt-4 gap-6 hover:bg-[#6c3f99] transition duration-100">
    
        <img src="/ruta.svg" alt="Blog Icon" class="size-8 justify-center pl-2">
        <ul>
            <h5 class="text-lg font-semibold tracking-tight text-[#e8e4ea]">Ruta Frontend 2024</h5>
            <p class="text-sm font-normal text-[#e8e4ea]">Todos los recursos que necesitas para empezar a crear sitios web.</p>
        </ul>
    </a> -->
    
    <a href="https://buymeacoffee.com/gonzzdev" target="_blank" rel="noopener" class="flex items-center p-4 bg-[#e8e4ea]/10 rounded-lg shadow mt-4 gap-6 hover:bg-[#6c3f99] transition duration-100">
    
        <img src="/cafe.svg" alt="Blog Icon" class="size-8 justify-center pl-2">
        <ul>
            <h5 class="text-lg font-semibold tracking-tight text-[#e8e4ea]">Invítame un café</h5>
            <p class="text-sm font-normal text-[#e8e4ea]">Si quieres ayudarme a seguir creando contenido.</p>
        </ul>
    </a>

    <a href="https://gonzz.dev" target="_blank" rel="noopener" class="flex items-center p-4 bg-[#e8e4ea]/10 rounded-lg shadow mt-4 gap-6 hover:bg-[#6c3f99] transition duration-100">
    
        <img src="/pc.svg" alt="Blog Icon" class="w-8 justify-center pl-2">
        <ul>
            <h5 class="text-lg font-semibold tracking-tight text-[#e8e4ea]">gonzz.dev</h5>
            <p class="text-sm font-normal text-[#e8e4ea]">Mi sitio web y portafolio.</p>
        </ul>
    </a>
</div>