<div class="px-4 animate-blurred-fade-in">
    <a href="https://www.youtube.com/watch?v=6AnEljZjOlk" target="_blank" rel="noopener" class="flex items-center p-4 bg-[#e8e4ea]/10 border-[2px] border-[#ff9933] rounded-lg shadow mt-4 gap-6 hover:bg-[#6c3f99] hover:border-[#6c3f99] hover:-translate-y-1 transition duration-100">
    
        <img src="/ultimo-video.png" alt="YouTube video screenshot" class="w-fit justify-center pl-2">
    </a>
</div>
